{% load humanize %}
{% if op %}
<div class="">
	<div class="d-flex justify-content-center">
		<div class="sidebar-avatar">
			{% user_avatar op %}
		</div>
	</div>
	<div class="sidebar-profile text-center my-2">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><strong class="d-inline-block text-primary">{% user op %}</strong></li>
			<li class="list-group-item">{{ op.post_set.count }} Posts</li>
			<li class="list-group-item">{{ op.comment_set.count }} Comments</li>
			<li class="list-group-item">Joined {{ op.date_joined|naturaltime }}</li>
		</ul>
	</div>
</div>
{% endif %}
