{% url 'user:post' post.user post.id as post_url %}
<div class="comment border mb-4">
	<div class="row no-gutters overflow-hidden flex-md-row h-md-250 position-relative">
		<div class="col-auto d-none d-sm-block">
			<div class="comment-avatar m-3">
				{% user_avatar comment.user %}
			</div>
		</div>
		<div class="col pl-1 pr-3 pt-2">
			{% formatted comment %}
		</div>
	</div>
	<div class="comment-info p-2 bg-light">
		Posted by {% user comment.user %} on {{ comment.created }}
	</div>
</div>
