{% load humanize %}
{% url 'user:post' post.user post.id as post_url %}
<div class="comment-info d-flex border-bottom lead">
	<div class="flex-grow-1">
		<div class="p-2">
			<span>{% user comment.user %}</span>
			<small class="font-weight-light text-muted">{{ comment.created|naturaltime }}</small>
		</div>
	</div>
	<div>
		<div class="" data-toggle="collapse" data-target="#comment-{{comment.id}}">
			<button class="btn p-1 m-1">
				<span class="if-not-collapsed font-weight-light text-muted">[-]</span> 
				<span class="if-collapsed font-weight-light">[+]</span>
				{# <span class="if-not-collapsed">&#8963;</span> #}
				{# <span class="if-collapsed">&#8964;</span> #}
			</button>
		</div>
	</div>
</div>
<div class="comment mb-3">
	<div id="comment-{{comment.id}}" class="show">
		<div class="row no-gutters overflow-hidden flex-md-row h-md-250 position-relative">
			<div class="col-auto d-none d-sm-block">
				<div class="comment-avatar m-3">
					{% user_avatar comment.user %}
				</div>
			</div>
			<div class="col pl-1 pr-3 pt-2">
				<div class="comment-entry">
					{% formatted comment %}
				</div>
				<div class="post-actions mb-4 d-flex flex-row-reverse">
					<div class="btn-group" role="group" aria-label="Post Actions">
					{% if comment.user == request.user %}
						<a class="btn btn-sm btn-outline-secondary" href="{% url 'user:comment_edit' pk=comment.id %}">Edit</a>
						<a class="btn btn-sm btn-outline-secondary" href="{% url 'user:comment_delete' pk=comment.id %}">Delete</a>
					{% endif %}
					{% if request.user.is_authenticated %}
					<a class="btn btn-sm btn-outline-secondary" title="{{comment.plusone_users}}" href="{% url 'user:plus_one_comment' username=request.user.username pk=comment.id postid=post.id %}">+{{ comment.plusone_count }}</a>
					{% endif %}
					</div>
				</div>
			</div>

		</div>
		<div id="comment-level-{{comment.id}}" class="comment-replies show">
			{% for child_comment in comment.children %}
				{% include "include/comment.html" with comment=child_comment %}
			{% endfor %}
		</div>
	</div>
</div>
