<div class="fixed-top">
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand" href="/">{{ site_name }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/news">News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Games</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Users</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
<div class="nav-scroller bg-white shadow-sm mb-4">
	<nav class="nav nav-underline justify-content-end">
		<a class="nav-link" href="#">Submit</a>
		<a class="nav-link" href="#">Files</a>
		<a class="nav-link" href="#">Profile</a>
		<a class="nav-link" href="#">
			Inbox
			<span class="badge badge-pill bg-light align-text-bottom">1</span>
		</a>
		<a class="nav-link" href="#">
			Notifications
			<span class="badge badge-pill bg-light align-text-bottom">27</span>
		</a>
	</nav>
</div>
</div>
<div class="nav-spacer"></div>
