{% if is_paginated %}
<nav aria-label="Pagination">
	<ul class="pagination justify-content-center">
	{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="{{ page_previous }}">
				<span aria-disabled="true">&laquo;</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="{{ page_first }}" aria-label="First">
				<span>1</span>
			</a>
		</li>
		{% if page_obj.number > 3 %}
		<li class="page-item disabled">
			<span class="page-link">...</span>
		</li>
		{% endif %}
		{% if page_obj.number > 2 %}
		<li class="page-item">
			<a class="page-link" href="{{ page_previous }}" aria-label="Previous">
				<span>{{ page_obj.number|add:"-1" }}</span>
			</a>
		</li>
		{% endif %}
	{% else %}
		<li class="page-item disabled">
			<span class="page-link" aria-disabled="true">&laquo;</span>
		</li>
	{% endif %}
		<li class="page-item active">
			<span class="page-link">{{ page_obj.number }}</span>
		</li>
	{% if page_obj.has_next %}
		{% if page_obj.number < paginator.num_pages|add:"-1" %}
		<li class="page-item">
			<a class="page-link" href="{{ page_next }}" aria-label="Next">
				<span>{{ page_obj.number|add:"1" }}</span>
			</a>
		</li>
		{% endif %}
		{% if page_obj.number < paginator.num_pages|add:"-2" %}
		<li class="page-item disabled">
			<span class="page-link">...</span>
		</li>
		{% endif %}
		<li class="page-item">
			<a class="page-link" href="{{ page_last }}" aria-label="Last">
				<span>{{ page_obj.paginator.num_pages }}</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="{{ page_next }}">
				<span aria-disabled="true">&raquo;</span>
			</a>
		</li>
	{% else %}
		<li class="page-item disabled">
			<span class="page-link" aria-disabled="true">&raquo;</span>
		</li>
	{% endif %}
	</ul>
</nav>
{% endif %}
