{% url 'user:post' post.user post.id as post_url %}
<div class="row no-gutters border overflow-hidden flex-sm-row mb-5 shadow-sm h-md-250 position-relative">
	<div class="col p-4 flex-grow-1 position-static">
		<h3 class="mb-0"><a class="text-dark" href="{{ post_url }}">{{ post.title }}</a></h3>
		<div class="mb-1">
			<span class="text-muted">
				Posted by {% user post.user %} on {{ post.created }}
			</span>

			{% if post.locked %}
				<span class="placeholder-icon-lock">🔒</span>
			{% endif %}

			{% if post.pinned %}
				<span class="placeholder-icon-pinned">📌</span>
			{% endif %}
		</div>
		<p class="card-text my-4">
			{{ post.formatted|truncatewords_html:50 }}
		</p>
		<div class="mt-4">
			<a href="{{ post_url }}">Read Post
				<span class="text-muted">({{ post.comment_set.count }} Comments)</span>
			</a>
		</div>
	</div>
	{% if front %}
	<div class="col-auto d-none d-lg-block bg-light">
		<div class="card-avatar bg-secondary" style="width:10em;height:10em;"></div>
		<div class="card-profile text-center my-2">
			<strong class="d-inline-block text-primary">{% user post.user %}</strong>
		</div>
	</div>
	{% endif %}
</div>
