{% url 'user:post' post.user post.id as post_url %}
<div class="card mb-5"><div class="card-body">
<div class="row no-gutters flex-sm-row ">
	<div class="col col-lg-10 col-md-9 col-10">
		<h3 class="mb-0"><a class="text-dark" href="{{ post_url }}">{{ post.title }}</a></h3>
		<div class="mb-1">
			<span class="text-muted">
				Posted by {% user post.user %} on {{ post.created }}
			</span>

			{% if post.locked %}
				<span class="placeholder-icon-lock">🔒</span>
			{% endif %}

			{% if post.pinned %}
				<span class="placeholder-icon-pinned">📌</span>
			{% endif %}

			{% if post.private %}
				<span class="placeholder-icon-private"></span>
				<span class="text-info font-italic">{{ post.visible_description }}</span>
			{% endif %}
		</div>
		<div class="preview overflow-hidden my-4">
			{% formatted post truncate=50 %}
		</div>
		<div class="mt-4">
			<a href="{{ post_url }}">Read Post
				<span class="text-muted">({{ post.comments_count }} Comments)</span>
			</a>
		</div>
	</div>
	{% if front %}
	<div class="col col-lg-2 col-md-3 col-2">
		<div class="d-flex-col justify-content-center">
			<div class="card-avatar">
				{% user_avatar post.user %}
			</div>
			<div class="card-profile text-center my-2">
				<strong class="d-inline-block text-primary">{% user post.user %}</strong>
			</div>
		</div>
	</div>
	{% endif %}
</div>
</div></div>
