{% extends "base.html" %}

{% block content %}
<h2>Recent Posts</h2>
<ul>
{% for post in posts %}
<li>
	<h3>
	<a href="{% url 'user:post' post.user post.id %}">
		{{ post.title }}
	</a>
	</h3>
        <div class="post-info">
            <span class="post-info-user">Submitted by <a href="{% url 'user:listing' post.user %}">{{post.user}}</a></span>
            <span class="post-info-date">
                {{ post.created }}
            </span>
            
            {% if post.locked %}
                <span class="placeholder-icon-lock">🔒</span>
            {% endif %}

            {% if post.pinned %}
                <span class="placeholder-icon-pinned">📌</span>
            {% endif %}
        </div>
</li>
{% endfor %}
</ul>

{% pagination posts 'sixtyfour:front' %}

{% endblock %}
