{% extends "base.html" %}

{% block content %}
<h2>{{ user.username }}</h2>
<ul>
{% for post in posts %}
<li>
	<a href="{% url 'user:post' user.username post.id %}">
		{{ post.title }}
	</a>
</li>
{% endfor %}
</ul>

{% if posts.paginator.num_pages > 1 %}
	<div class="listing-pagination">
		{% if posts.has_previous %}
			<a href="{% url 'user:listing' user.username 1 %}">&laquo; First</a>
			<a href="{% url 'user:listing' user.username posts.previous_page_number %}">Previous</a>
		{% endif %}

		<span>
			Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		</span>

		{% if posts.has_next %}
			<a href="{% url 'user:listing' user.username posts.next_page_number %}">Next</a>
			<a href="{% url 'user:listing' user.username posts.paginator.num_pages %}">Last &raquo;</a>
		{% endif %}
	</div>
{% endif %}

{% endblock %}
