{% extends "base.html" %}

{% block content %}
{% include "include/user_header.html" %}
{% if post %}
    {% if post.deleted %}
        <h2>Post Deleted</h2>
        <div>
            This post was deleted.
        </div>
	{% else %}
		<h3 class="mb-0"><a class="text-dark" href="{{ post_url }}">{{ post.title }}</a></h3>
		<div class="mb-1">
			<span class="text-muted">
				Posted by {% user post.user %} on {{ post.created }}
			</span>

			{% if post.locked %}
				<span class="placeholder-icon-lock">🔒</span>
			{% endif %}

			{% if post.pinned %}
				<span class="placeholder-icon-pinned">📌</span>
			{% endif %}
		</div>
        <div class="post-content my-4">
			{% format_post post request.user %}
        </div>
    {% endif %}

	<h3 class="mb-4">Comments</h3>
	<div class="comments">
	{% for comment in comments %}
	{% include "include/comment.html" %}
	{% endfor %}
	</div>

	{% pagination %}

{% endif %}
{% endblock %}
