{% extends "base.html" %}

{% block content %}
{% if post %}
    {% if post.deleted %}
        <h2>Post Deleted</h2>
        <div>
            This post was deleted.
        </div>
    {% else %}
        <h2 class="post-title">
            {{ post.title }}
        </h2>

        <div class="post-info">
            <span class="post-info-user">Submitted by <a href="{% url 'user:index' post.user %}">{{post.user}}</a></span>
            <span class="post-info-date">
                {{ post.created }}
            </span>
            
            {% if post.locked %}
                <span class="placeholder-icon-lock">🔒</span>
            {% endif %}

            {% if post.pinned %}
                <span class="placeholder-icon-pinned">📌</span>
            {% endif %}
        </div>

        <div class="post-content">
            {{ post.formatted|safe }}
        </div>
    {% endif %}

	<h3>Comments</h3>
	<hr/>
	<div class="comments">
	{% for comment in comments %}
	<div class="comment">
        <div class="post-content">
            {{ comment.formatted|safe }}
        </div>
        <div class="comment-info">
			<span class="comment-info-user">&mdash;<a href="{% url 'user:index' comment.user %}">{{comment.user}}</a></span>
			<span class="post-info-date">
				{{ comment.created }}
			</span>
        </div>
		<hr/>
	</div>
	{% endfor %}
	</div>

	{% if comments.paginator.num_pages > 1 %}
	<div class="listing-pagination">
		{% if comments.has_previous %}
			<a href="{% url 'user:post' user.username post.id 1 %}">&laquo; First</a>
			<a href="{% url 'user:post' user.username post.id comments.previous_page_number %}">Previous</a>
		{% endif %}

		<span>
			Page {{ comments.number }} of {{ comments.paginator.num_pages }}
		</span>

		{% if comments.has_next %}
			<a href="{% url 'user:post' user.username post.id comments.next_page_number %}">Next</a>
			<a href="{% url 'user:post' user.username post.id comments.paginator.num_pages %}">Last &raquo;</a>
		{% endif %}
	</div>
	{% endif %}

{% endif %}
{% endblock %}
