{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Preferences</h2>
<form action="{% url 'sixtyfour:preferences' %}" method="post">
{% crispy user_form %}
{% crispy profile_form %}
</form>

<hr/>
<h3>Account Actions</h3>
<div class="mt-2 mb-2">
<a class="btn btn-primary" href="{% url 'sixtyfour:password_change' %}" role="button">Change Password</a>
{#<a class="btn btn-primary" href="#" role="button">Request Name Change</a>#}
{#<a class="btn btn-primary" href="#" role="button">Delete Account</a>#}
</div>

{% endblock %}
