{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Login</h2>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-danger" role="alert">
Your account doesn't have access to this page. To proceed, please login with an account that has access.
</div>
{% else %}
<div class="alert alert-danger" role="alert">
Please login to see this page.
</div>
{% endif %}
{% endif %}

{% include "include/login.html" %}

{% endblock %}

