
@import "sixtyfour/static/css/syntax/light";
// sixtyfour/static/css/syntax/dark is an option for dark theme

.bbcode {
	.card, .card-header {
		background-color:transparent;
		border-style:none;
	}

	.card-header {
		padding:0.375rem 0.75rem;

		button {
			padding:0rem;
			text-align:left;
		}
	}

	.card-body {
		background-color:$gray-100;
		border-left:2px solid $gray-500;
		margin-left:1.25rem;
		padding:0.75rem 1.25rem;
	}
}

.bbcode-img {
	max-width:100%;
	height:auto;
}

.bbcode-right {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
}

.preview {
	img {
		max-width:10em;
		max-height:10em;
	}
}

.bbcode-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.bbcode-code {

	.highlight {
		background-color:transparent;
		overflow:auto;

		pre {
			margin: 0;
			padding:0;
		}
	}
}
