$enable_rounded: false;
$primary: rgb(175, 31, 31);
$light: #e9ecef;

@import "node_modules/bootstrap/scss/bootstrap";

.nav-spacer {
	height:8rem;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
