$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$primary: hsl(0,66%,45%);
//$link-color: hsl(200,75%,45%);
$light: #e9ecef;

$input-box-shadow: 3px 3px 0px 0px rgba(#2E3842, .125);
$inset-box-shadow: inset 1px 1px 4px 0px rgba(#2E3842, .125);
$btn-box-shadow: 3px 3px 0px 0px rgba(#2E3842, .125), inset 0 2px 0 rgba(#FFF, .15), inset 0 2px 2px rgba(#FFF, .075);

$breadcrumb-divider: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+");

