.asteriskField {
	display: none;
}

.file-preview {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-preview-container {
	height:auto;
}

.file-preview-image img,
.file-preview-audio audio,
.file-preview-video video {
	max-height:128px;
}

