.recent-activity__container {
    display: 'flex';
    flex-direction: column;
}

.recent-activity__spinner {
    place-self: center;
}

.recent-activity__item {
    padding: 4px;
    font-size: 14px;
    width: 100%;
}

.recent_activity__item--unread {
    font-weight: bold;
}
