.sidebar {
	margin:0rem 1rem;
	
	.sidebar-module {
		//border: 1px solid rgba(0,0,0,0.35);
	}

	.sidebar-title {
		font-size:1.25rem;
		font-weight:300;
		text-align:left;
		padding:0.25rem 0.75rem;
		display:block;
		width:100%;
		background-color:$primary;
		border:0px solid transparent;

		background-color:#fff;
		border-bottom:2px solid $primary;
		
		&, &:hover, &:active,
		&:link, &:visited, &:focus {
			color:#fff;
			color:$primary;
			text-decoration:none;
		}

		&.collapsed {
			background-color:$gray-200;
		}
	}

	.sidebar-content {
		box-shadow: 0rem 0.3rem 0.1rem -0.3rem rgba(0,0,0,0.125) inset;
	}
}
