@import "node_modules/bootstrap/scss/mixins/_box-shadow";

.input-group {
	@if $enable-shadows {
		@include box-shadow($input-box-shadow);
		.btn,
		.custom-file-label,
		.form-control {
			@include box-shadow(none);
		}
	}
}

.post-listing {
	& > .card {
		@if $enable-shadows {
			@include box-shadow($input-box-shadow);
		}
	}
}

.bbcode { 
	& > .card > .card-body,
	& > .card > .collapse > .card-body {
		@if $enable-shadows {
			@include box-shadow($inset-box-shadow);
		}
	}
}

.box-shadow {
		@if $enable-shadows {
			@include box-shadow($input-box-shadow);
		}
}

.breadcrumb-item + .breadcrumb-item::before {
	opacity:0.5;
}

.table-break,
.table-break td {
    word-wrap: break-word;
		over-flow: break-word;
}
