{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site_name }}</title>
		<link rel="stylesheet" type="text/css" href="{% sass_src 'css/default.scss' %}"/>

		{% block styles %}
			{# area for other views to add styles #}
		{% endblock %}
	</head>
	<body>
		{% include 'include/nav.html' %}
<main role="main" class="container">
		<div class="hidden"><h1>{{ site_name }}</h1></div>
		<div class="row">
		<div class="col-md-8">
		{% block content %}
			<p>Nothing to see here.</p>
		{% endblock %}
		</div>
		<div class="col-md-4">
		{% block sidebar %}
		{% endblock %}
		</div>
		</div>
</main>
		{# include common scripts here, outside scripts block #}
		<scripts src="{% static "popper.js/dist/popper.min.js" %}"></scripts>
		<scripts src="{% static "jquery/dist/jquery.min.js" %}"></scripts>
		{% block scripts %}
			{# area for other views to add scripts #}
		{% endblock %}
	</body>
</html>
